.toastList {
    position: fixed;
    right: 10px;
    bottom: 50px;
    width: 400px;
  bottom: 0;
    overflow: hidden;
  }
  
  .toastList:empty {
    display: none;
  }
  
  .toastItem {
    position: relative;
    overflow: hidden;
    display: flex;

  }
  
  .toastItem button {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 5px;
    height: 5px;
  }
  
  .toastItem h5 {
    font-size: 16px;
    text-transform: capitalize;
  }
  
  .toastItem p {
    font-size: 15px;
    margin-bottom: 0;
    text-transform: capitalize;
  }
  
  .toastItem span {
    position: absolute;
    min-height: 4px;
    bottom: 0;
    left: 0;
  }

  @media (max-width:767px) {
    .toastList {
      position: fixed;
      right: 0px;
      bottom: 0;
      width: 100%;
    
      overflow: hidden;
    }
}