/* column dir
:root {
    --bs-body-color: red !important;
    --bs-body-bg: #ffffff !important;
    --bs-border-width: 0.5px !important;
  
  } */
.product-column {
    display: flex;
  }
  
  .product-column h2 {
    font-size: 25px;
    margin-bottom: 12px;
    width: 100%;
  }
  
  .product-column h3 {
    font-size: 13px;
  }
  
  .productImg-column img {
    height: 180px;
    background-color: #f2f2f2;
    display: block;
    border-radius: 10%;
  }
  
  .productInfo-column {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    width: 140px;
    color: #f2f2f2;
  }
  
  /* row dir */
  .product-row {
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
  .product-row h2 {
    font-size: 17px;
    margin-top: 9px;
    margin-bottom: 12px;
    width: 100%;
    text-align: center;
  }
  
  .product-row h3 {
    font-size: 13px;
  }
  
  .productImg-row {
    width: 100%;
    height: 180px;
    background-color: #f2f2f2;
    display: block;
    border-radius: 10px;
  }
  
  .productImg-row img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    display: block;
  }
  
  .productInfo-row {
    width: 100%;
  }


  @media (max-width:767px) {
    .product-column {
      display: flex;
      /* width: ; */
    }
    .product-column h2 {
      font-size: 18px;
      margin-bottom: 8px;
      width: 100%;
    }
    
    .product-column h3 {
      font-size: 10px;
    }
    
    .productImg-column img {
      height: 180px;
      background-color: #f2f2f2;
      display: block;
      border-radius: 10%;
      width: 180px;
    }
    
    .productInfo-column {
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      width: 140px;
    }
    
}