.product {
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.productImg  {
  width: 100%;
  height: 180px;
  background-color: #f2f2f2;
  display: block;
  border-radius: 10px;
}

.productImg img {
  width: 100%;
  height: 180px;
  border-radius: 10px;
  display: block;
}

.product h2 {
  font-size: 17px;
  margin-top: 9px;
  margin-bottom: 12px;
  width: 100%;
  text-align: center;
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}
.wishlistBtn {
  position: absolute;
  top: 7px;
  right: 7px;
  /* background-color: white; */
  width: 28px;
  height: 28px;
  /* border-radius: 5px; */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* .wishlistBtn:hover {
  box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.4);
} */
.product h3 {
  font-size: 13px;
}
.button{
  width: 100%;
}
.button:active {
  scale: 0.9;
  transform: 0.5s;
  color: #fff;
  background: red !important;
}