.headerContainer {
  padding: 10px 0;
  /* padding-bottom: 20px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.headerLogo {
  color: inherit;
  text-decoration: inherit;
  font-size: 2.3rem;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.headerLogo h1 {
  margin: 0;
  display: flex;
}

.headerLogo h1 span {
  display: block;
  margin-right: 5px;
}
.Link {
  color: black !important;
  position: relative;
}

.Link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0;
  background-color: #ff0000;
  border-radius: 20%;
  box-shadow: 0px -15px 20px 1px #ff00008c;
}

.Link:hover::after {
  animation: slideBorder 0.5s forwards;
}
.navbar-nav .nav-link .active {
  box-shadow: 0px -15px 20px 1px #ff00008c !important;
}
.headerLeftBar {
  display: flex;
  flex-direction: row;
}
.menu{
  background-color: #f7f9fa;
  display: flex;
}

.search {
  margin-left: 2%;
  display: flex;
  position: relative;
  /* width: 500px; */
  /* min-width: 200px; */
  /* margin-right: 15%; */
/* margin-bottom: 20px; */

}
.searchInput {
  /* width: 100%; */
  border-radius: 25px;
  border: 3px solid #a3a2a2;
  background: black;
  color: white;
  padding: 10px 40px;
  outline: none;
}
.searchIcon{
  position: absolute;
  color: white;
  left: 5%;
  top: 22%;
  font-size: 20px;
}
@keyframes slideBorder {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@media (max-width: 787px) {
.searchInput {
  width: 80%;
  border-radius: 25px;
  border: 3px solid #a3a2a2;
  background: black;
  color: white;
  padding: 10px 40px;
  outline: none;
}
.search{
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex: 1;
}
.searchIcon{
  left: 14%;
}
.menu{
  overflow: auto;
}
}