.container {
    position: relative;
    cursor: pointer;
    /* align-self: flex-end; */
    display: flex;
    align-items: center;
  }
  .container h3 {
    font-size: 17px;
    margin-left: 6px;
    margin-bottom: 0;
  }
  
  .iconWrapper  {
    position: relative;
  }
  .totalNum {
    background-color: #ff0000bf;
    height: 23px;
    width: 23px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid;
    position: absolute;
    top: -21px;
    right: -5px;
    font-size: 13px;
    border: 2px solid red;
    font-family: cursive;
  }
  
  .pumpAnimate {
    animation: pumping 300ms ease-out;
  }

  @keyframes pumping {
    0% {
      transform: scale(1);
    }
    20% {
      transform: scale(0.2);
    }
    30% {
      transform: scale(0.8);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }
  
  