input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  gap: 20px;
}

.center .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.center .left .font {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: 1px;
}
.center .left .input {
  width: 300px;
  height: 45px;
  border-radius: 10px;
  border: 1px solid gray;
  background: transparent;
  padding: 5px 10px;
  color: white;
}
.button1 {
  width: 50%;
  height: 400px;
  border-radius: 10px;
  border: 1px solid gray;
  background-color: transparent;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.price{
      display: flex
;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}
.toggleGroup{
  display: flex;
  width: 100%;
  gap: 5px;
}
@media (max-width: 767px) {
.center {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .button1{
    width: 95%;
  }
  .toggleGroup{
  display: flex;
flex-direction: column;
}
}
@media (max-width: 1200px) {
.price{
  flex-wrap: wrap;
  flex-direction: column;
}
}