.categoryImg {
  overflow: hidden;
  border-radius: 50%;
  background-color: #f2f2f2;
  box-shadow: 0 0 6px 2px red;
  width: 180px;
  height: 180px;
}
.categoryImg img {
  width: 100%;
  height: 100%;
}
.link{
  display: flex
  ;
      flex-direction: column;
      align-items: center;
}
.categoryTitle {
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
}
.category:active {
  scale: 0.9;
  transform: 0.5s;
}
@media (max-width:767px) {
  .categoryImg{
    width: 90px;
    height: 90px;
  }
  .categoryTitle{
    font-size: 16px;
  }
}